:root{
    --width:350px;
    --font-size:18px;
}

.hidden{
    display:none;
}

html, body{
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color:#000;
}

ul li {
    list-style: none;
}

.theme{
    padding:20px 0;
}

.container{
    display: flex;
    width: 75vw;
    height: auto;
    margin:auto;
    border-radius: 10px;
    border: 3px solid #000;
}


.pic{
    scale: .8;
    border-radius: 50%;
    border: 3px solid #fff;
}

nav {
    flex:3;
    margin: auto;
    padding: 0 2em 5em 2em;
}
    
nav ul {
    padding: 10px;
    margin: 0;
}
  
nav li {
    display: block;
    padding: 10px;
}

.main{
    flex:3;
    text-align: start;
}

.main ul{
    padding-left: 70px;
}
.main ul li{
    padding: 15px 0;
    font-size: 18px;
}

.btn{
    cursor: pointer;
}

.icons *{
    margin-top: 30px;
    padding:10px;
    scale: 1.5;
}

.sub {
    flex:4;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9em;

}

.inner {
    position:relative;
}

.new {
    cursor: default;
}

.linkList{
    margin:0;
    padding:20px 0 20px 0;
}

.linkList > .btn:hover{
    transform-origin: left;
    scale:1.1;
    font-weight: bold;
}

.link:hover{
    transform-origin: center;
    font-weight: bold;
}

.container > .btn:hover{
    transform-origin: center;
    scale:1.1;
    font-weight: bold;
}

.small{
    font-size: 14px;
}

@media screen and (min-width:1600px) {
    .container{
        width:1126px;
    }
}

@media screen and (max-width:1200px) {
    .sub {
        display: none;
    }
}

@media screen and (max-width:950px) {
    .sub {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    
    .container > * {
        flex: 1;
    }
    
}

@media screen and (max-width:605px) {
    .sub {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
        width:400px;
    }
    
    .container > * {
        flex: 1;
    }
    
}
